html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.wrapper {
  max-width: 850px;
  margin: 75px auto;
  height: 39rem;
  background-color: rgb(207, 200, 200);
  overflow: hidden;
  box-shadow: 5px 25px 35px #3535356b
}

.wrapper .bg-purple {
  background-color: #422eb4;
  height: 100%;
  width: 15%;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 20px
}
.wrapper .bg-purple .text-white {
  font-size: rem
}

.wrapper .contact-form {
  width: 100%;
  padding: 40px 80px 40px 50px
}

.wrapper .contact-form .h3 {
  padding-top: 15px;
  font-weight: 700
}

.wrapper .contact-form label {
  font-size: 0.9rem;
  color: #555;
  font-weight: 500;
  margin-bottom: 10px
}

.wrapper .contact-form textarea {
  height: 150px;
  resize:none
}

.wrapper .contact-form .form-control {
  background-color: #e7e7e7;
  box-shadow: none;
  font-weight: 600;
  font-size: 0.95rem;
  border: none;
  border-top: 1px solid #bbb
}

.wrapper .contact-form .btn {
  font-size: 1.2rem;
  font-weight: 700
}

.wrapper .contact-form .btn.btn-primary {
  border: none;
  padding: 8px 18px;
  box-shadow: 0 8px 12px #3535356b
}



@media(max-width: 900.5px) {
  .wrapper {
    margin: 90px auto
  }
}

@media(max-width: 575.5px) {
  .wrapper .contact-form {
      padding: 40px
  }

  .wrapper .bg-purple {
      padding-left: 30px
  }
}

@media(max-width: 496px) {
  .wrapper .bg-purple {
      display: none
  }
}

@media(max-width: 350px) {
  .wrapper {
      height: 570px
  }

  .wrapper .contact-form {
      padding: 20px
  }
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;

  width: 300px;
  height: 300px;

  background-color: #ffd803;
  border-radius: 50%;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 3;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #078080;
  height: 100%;
  z-index: 2;
}

.sidenav-button {
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  z-index: 2;
}

ul,
li {
  margin: 0;
  padding: 0;
  z-index: 2;
}

ul {
  padding: 25px;
  position: absolute;
  top: 100px;
  width: 230px;
}

li {
  list-style: none;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.text-placeholder {
  border-radius: 5px;
  padding-left: 1.5rem;
  font-size: 1.4rem;
  text-decoration: none;
  flex: 1;
}

.logo {
  z-index: 2;
}

.text {
  color: #fef6e4;
}

.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 530px;
  margin: auto auto 1rem;
}

.portfolio-item .caption {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 37, 41, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.portfolio-item .caption .caption-content {
  color: #fff;
  margin: auto 2rem 2rem;
}

.portfolio-item .caption .caption-content h2,
.portfolio-item .caption .caption-content .h2 {
  font-size: 0.9rem;
  text-transform: uppercase;
  text-shadow: 0 0 3px #242424
}

.portfolio-item .caption .caption-content p {
  font-weight: 300;
  font-size: 1.2rem;
  text-shadow: 0 0 3px #242424;
}

@media (min-width: 992px) {
  .portfolio-item {
    max-width: none;
    margin: 0;
  }

  .portfolio-item .caption {
    transition: background-color 0.7s, -webkit-clip-path 0.25s ease-out;
    transition: clip-path 0.25s ease-out, background-color 0.7s;
    transition: clip-path 0.25s ease-out, background-color 0.7s, -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(0px);
    clip-path: inset(0px);
  }

  .portfolio-item .caption .caption-content {
    transition: opacity 0.25s;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
  }

  .portfolio-item img {
    transition: -webkit-clip-path 0.25s ease-out;
    transition: clip-path 0.25s ease-out;
    transition: clip-path 0.25s ease-out, -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
    clip-path: inset(-1px);
  }

  .portfolio-item:hover img {
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }

  .portfolio-item:hover .caption {
    background-color: rgba(29, 128, 159, 0.9);
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
}


@media (min-width: 0) {
  .w-xs-100 {
    width: 100%;
  }

  .w-xs-75 {
    width: 75%;
  }

  .w-xs-50 {
    width: 50%;
  }

  .w-xs-25 {
    width: 25%;
  }

  .h-xs-100 {
    height: 100%;
  }

  .h-xs-75 {
    height: 75%;
  }

  .h-xs-50 {
    height: 50%;
  }

  .h-xs-25 {
    height: 25%;
  }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .w-sm-100 {
    width: 100%;
  }

  .w-sm-75 {
    width: 75%;
  }

  .w-sm-50 {
    width: 50%;
  }

  .w-sm-25 {
    width: 25%;
  }

  .h-sm-100 {
    height: 100%;
  }

  .h-sm-75 {
    height: 75%;
  }

  .h-sm-50 {
    height: 50%;
  }

  .h-sm-25 {
    height: 25%;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .w-md-100 {
    width: 100%;
  }

  .w-md-75 {
    width: 75%;
  }

  .w-md-50 {
    width: 50%;
  }

  .w-md-25 {
    width: 25%;
  }

  .h-md-100 {
    height: 100%;
  }

  .h-md-75 {
    height: 75%;
  }

  .h-md-50 {
    height: 50%;
  }

  .h-md-25 {
    height: 25%;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .w-lg-100 {
    width: 100%;
  }

  .w-lg-75 {
    width: 75%;
  }

  .w-lg-50 {
    width: 50%;
  }

  .w-lg-25 {
    width: 25%;
  }

  .h-lg-100 {
    height: 100%;
  }

  .h-lg-75 {
    height: 75%;
  }

  .h-lg-50 {
    height: 50%;
  }

  .h-lg-25 {
    height: 25%;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .w-xl-100 {
    width: 100%;
  }

  .w-xl-75 {
    width: 75%;
  }

  .w-xl-50 {
    width: 50%;
  }

  .w-xl-25 {
    width: 25%;
  }

  .h-xl-100 {
    height: 100%;
  }

  .h-xl-75 {
    height: 75%;
  }

  .h-xl-50 {
    height: 50%;
  }

  .h-xl-25 {
    height: 25%;
  }
}